{% extends 'events/base.html' %}

{% block content %}
    <h1> Update Venue</h1>
    {% if user.is_authenticated %}

        <br>
        <form action="" method="POST">
            {%  csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Update" class="btn btn-outline-secondary btn-sm">
        </form>
    {% else %}
        <h1>You must be logged in to view this pages..</h1>
        <a href="{% url 'login' %}">Login here</a>
    {% endif %}{% endblock %}